# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
*.env

# Cache
.cache/
virtualenvs/

# Docker
*.log
*.pid
*.sock

# Models
models/*.pkl

# Jupyter Notebooks
.ipynb_checkpoints/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
*.cover
coverage.xml
nosetests.xml
coverage/

# GitHub Actions
.github/workflows/*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo
.python-version

# MacOS
.DS_Store

# AWS EC2 key files
*.pem

# ignore data
src/data
